.catchButton {
  height: 100%;
}

.ui.horizontal.segments > .segment.pokemonInfoSegment {
  width: 33%;
  border: none;
}

.ui.horizontal.segments > .segment.pokemonHeaderSegment {
  width: 33%;
  border: none;
}

.ui.horizontal.segments.pokemonInfoSegmentGroup {
  margin-top: 0;
  margin-bottom: 0;
}

.ui.horizontal.segments.pokemonHeaderSegmentGroup {
  border: none;
  box-shadow: none;
  margin-top: 0;
  margin-bottom: 0;
}

#pokemonInfoHeaderRow {
  padding-top: 0;
}
