.App {
  text-align: center;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #a83b3b;
}

.pokemonLogo {
  width: 7rem;
  margin-left: 2rem;
}